.__Filters {
  display: flex;
  margin-bottom: 4em;
  padding: 0 12em;

  button {
    color: #ffffff;
    background-color: transparent;
    outline-width: 0;
    cursor: pointer;
    border: 1px solid lightgray;
    padding: 1em;
    font-size: 15px;
  }

  .__activeButton {
    background-color: #28a745;
    border: lightgreen 2px solid;
  }
}

@media (max-width: 1000px) {
  .__Filters {
    padding: 0 1em;
    justify-content: center;
  }
}
