header {
  display: flex;
  padding: 1em 12em;
  margin-bottom: 2em;
  position: sticky;
  top: 0;
  background: black;
  height: 65px;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  transition: all 0.4s;

  .__logo {
    display: flex;

    h1 {
      margin: 0;
      text-align: left;
      color: #ffc107;
      font-size: 32px;
      font-weight: 300;

      font-family: "Titillium Web", sans-serif;
    }
  }

  .__Search {
    input {
      outline-width: 0;
      border: none;
      height: 12px;
      width: 300px;
      border-radius: 8px;
      padding: 1em;
      font-size: 21px;
    }

    input::placeholder {
      text-align: left;
      font-size: 21px;
    }
  }
}

.__scrolledHeader {
  background-color: #4d4c48;
  height: 70px;
}

@media (max-width: 1000px) {
  header {
    padding: 1em;
  }
}

@media (max-width: 650px) {
  header {
    .__Search {
      input {
        width: 160px;
        font-size: 17px;
      }
    }

    .__logo {
      h1 {
        display: none;
      }
    }
  }
}
