html,
body {
  margin: 0;
  height: 100vh;
  background: url("./images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
