html,
body {
  margin: 0;
  height: 100vh;
  background: url("./images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  .fade-appear {
    opacity: 0;
    z-index: 1;
  }
  .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms linear;
  }
}
